// Styles for main layout
// --------------------------------------------------

html, body {
  height:100%;
  width:100%;
  margin:0;
  background-size:cover;
  background-position:center center;
}

// Header
#header {
  background-color: $brand-info;
  padding: 0;
  margin: 0;
}


// Styles for main layout
// --------------------------------------------------

#main-wrapper {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 10px auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
  .page-header {
    margin: 9px 0;
  }
  .container {
    //padding-top: 20px;
    //padding-bottom: 20px;
    background-color: rgba(212,216,209, 0.70);
  }
}


// Footer
#footer {
  background-color: $brand-info;
  height: 60px;
  padding: 0;
  margin: 0;
  .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}  