// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

.page-header {
  margin-bottom: 9px;
  padding: 0px;
  border: 0;
}

.page-header h1 {
  font-size: 26px;
  border: 0;
}

/* Remove the border on tbody that system puts in */
.views-view-grid tbody {
  border: none;
}

/* Styles for tabs and pills */
.item-list ul {
    margin: 10px 0px;
    padding: 0px;
}
.item-list ul li {
  margin: 0px 10px 0 0;
  padding: 0px;
}